.App {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.header {
  text-align: center;
  padding: 2rem 1rem;
  background-image: url('https://cdn.furrl.in/vibes/VibeCard_HomeHunts.jpg');
  background-size: cover;
  color: #fff;
  position: relative;
  margin-bottom: 20px;
  height: 200px;
}

.header h1 {
  position: relative;
  z-index: 1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
